What is Green Coffee Inventory?

GREEN COFFEE INVENTORY means all green coffee that Company owns, which is fresh and from the current green coffee crop (1998 / 1999 season), of good quality and free of flavor defects, at the Closing Date. In no event shall Green Coffee Inventory be used for Finished Product Inventory unless, there is a corresponding price decrease ($1.53 per pound) to the Finished Product Inventory, as agreed by Buyer.

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
green_coffee = pd.read_csv('coffee-datasets/Coffee_green_coffee_inventorie.csv')
green_coffee

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_inventorie
0,Austria,19980000,19980000,22020000,19980000,16980000,16440000,14760000,13860000,12600000,...,6660000,5820000,5520000,5760000,5760000,5400000,4800000,4800000,4800000,306660000
1,Cyprus,600000,720000,600000,480000,780000,780000,720000,360000,540000,...,360000,240000,420000,720000,360000,120000,180000,300000,0,14520000
2,Denmark,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,...,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,160200000
3,Finland,10560000,13380000,12780000,11280000,16920000,13200000,8400000,10860000,9720000,...,4980000,4980000,4980000,4980000,4980000,4980000,4980000,4980000,4980000,219120000
4,France,34380000,33720000,32220000,23340000,28860000,18060000,15960000,19020000,21000000,...,24840000,26760000,26280000,29940000,30420000,34320000,28500000,27840000,27120000,843120000
5,Germany,240000000,96000000,150000000,120000000,234000000,138000000,96000000,114000000,96000000,...,147720000,171540000,158160000,187200000,211140000,239460000,216060000,211080000,208740000,5179440000
6,Ireland,0,0,0,0,0,0,0,0,0,...,360000,420000,360000,360000,240000,240000,180000,180000,180000,6540000
7,Italy,12900000,11340000,11220000,13680000,13320000,13020000,13380000,13620000,14040000,...,19740000,20760000,21120000,22260000,22200000,24180000,23760000,25260000,25680000,523440000
8,Netherlands,105120000,105120000,62880000,42420000,42420000,42420000,42420000,42420000,42420000,...,42420000,42420000,42420000,42420000,42420000,42420000,42420000,42420000,42420000,1418460000
9,Portugal,4080000,8580000,7260000,13200000,9540000,5160000,6900000,7860000,6060000,...,5400000,6600000,7200000,6000000,7740000,7740000,7740000,7740000,7740000,221460000
10,Spain,12000000,15000000,19980000,15000000,16020000,17040000,18180000,19380000,20640000,...,34200000,34200000,50220000,38400000,38220000,44040000,43380000,42900000,40200000,865440000
11,Sweden,5220000,5220000,5220000,5220000,5220000,5220000,5220000,5220000,5220000,...,5220000,5220000,5220000,5220000,5220000,5220000,5220000,5220000,5220000,156600000
12,Japan,90000000,70020000,79980000,75000000,88020000,49980000,58980000,55020000,52980000,...,132240000,121620000,172860000,176040000,191100000,193740000,181260000,156180000,176040000,3369300000
13,Norway,7440000,7440000,7440000,7440000,7440000,7440000,7440000,7440000,7440000,...,7440000,7440000,7440000,7440000,7440000,7440000,7440000,7440000,7440000,223200000
14,Switzerland,19260000,21060000,18120000,19620000,17160000,11580000,8400000,7080000,9900000,...,12180000,12540000,12360000,12360000,13020000,13140000,22080000,20280000,22740000,398100000
15,United Kingdom,11340000,10080000,10200000,12240000,12780000,11220000,7920000,6600000,7680000,...,2460000,2460000,2340000,2400000,2580000,1560000,1200000,1860000,2160000,186120000
16,United States of America,358920000,369000000,565320000,468840000,245220000,119400000,79620000,85680000,84480000,...,257700000,284160000,305220000,331500000,350160000,375360000,397920000,367980000,410100000,8984400000
17,Unspecified EU stocks,145980000,165480000,149100000,115200000,127320000,82860000,73320000,93060000,96180000,...,409680000,366720000,320160000,450060000,447840000,417240000,422100000,485520000,536100000,9457860000

In [3]:
# Top 10 green coffe inventory
top_green_coffee = green_coffee[['Country', 'Total_inventorie']].sort_values(by=['Total_inventorie'], ascending=False).head(10)
top_green_coffee

                     Country  Total_inventorie
17     Unspecified EU stocks        9457860000
16  United States of America        8984400000
5                    Germany        5179440000
12                     Japan        3369300000
8                Netherlands        1418460000
10                     Spain         865440000
4                     France         843120000
7                      Italy         523440000
14               Switzerland         398100000
0                    Austria         306660000

In [4]:
# Top 10 green coffe inventory
fig = px.bar(top_green_coffee, x='Country', y='Total_inventorie', labels={
    "Country": "Countries",
    "Total_inventorie": "Inventories"
},title='Top Green Coffee Inventories', width=1100, height=600)
fig.show()

In [5]:
top_green_coffee1 = green_coffee[['Country', 'Total_inventorie']].sort_values(by=['Total_inventorie'], ascending=False).head(5)
top_green_coffee1.head()
top_green_inverntory = green_coffee[green_coffee.Country.isin(top_green_coffee1['Country'].unique())]
top_green_inverntory = top_green_inverntory.T
top_green_inverntory.drop(['Country', 'Total_inventorie'], axis=0, inplace=True)
top_green_inverntory.index.name = 'Year'
top_green_inverntory.columns = top_green_coffee1['Country'].values
top_green_inverntory.head()

In [ ]:
# coffe inventory na przestrrzeni lat
fig = px.line(top_green_inverntory, x = top_green_inverntory.index, y= top_green_inverntory.columns[0:],labels={
    "Country": "Countries",
    "value": "Inventory"}, title='Green Coffee Inventories over the years',width=1300, height=800)
fig.update_layout(legend_title_text="Country")
fig.show()